  .dot {
    position: relative;
    top: 78px;
    margin-left: 32px;
  }
  
  
  .dot, .dot:before, .dot:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #D504D9;
  }
  
  .dot {
    /* top: 50%;
    right: 50%; */
    /* margin-top: -10px;
    margin-left: -10px; */
  }
  
  .dot:before, .dot:after {
    content: "";
  }
  
  .dot:before {
    right: 11px;
    transition: right .3s ease-out;
  }
  
  .dot:after {
    left: 11px;
    transition: left .3s ease-out;
  }
  
  .dots:hover .dot:before {
    right: -11px;
  }
  
  .dots:hover .dot:after {
    left: -11px;
  }