.flex-containerLogo{
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    position: relative;
    left: -40px;
}
.flex-containerLogo2{
    display: flex;
    flex-direction: column;
    display:block;
    
}

#logo {
    /* height: 116px; */
    height: 92.8px;
    width: 97.6px;
    /* background-color:red; */
    position: relative;
    top: 43px;
    right: 20px;
}

.flex-containerLogo2 > div:first-child{
    position: relative;
    top: 62px;
    /* display: flex;
    flex-direction: column; */
    /* background-color: purple; */
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #944949;
    text-shadow: 0px 3px 6px #00000029;
}

.flex-containerLogo2 > div:last-child{
    position: relative;
    top: 60px;
    /* display: flex;
    flex-direction: column; */
    /* background-color: rgb(99, 243, 224); */
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #944949;;
    text-shadow: 0px 3px 6px #00000029;
}
