@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    font-family: 'Righteous', sans-serif;
}

.backGround {
    background-image: url(./components/images/bg2.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: auto;
}

.banner {
    position: relative;
    top: 48px;
}


.player {
    position: fixed;
    left: 50%;
    margin-left: -360px;
    bottom: 3rem;
}
