.backGround {
    background-image: url(./components/images/bg.png);
    width: 100vw;
    height: 100vh;
    background-position:center;
    /* background-size: auto; */
}

.banner {
    position: relative;
    top: 48px;
}


.player {
    position: fixed;
    left: 37%;                       
    bottom: 3rem;
}
